//fonts
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');
// Overpass
$overpass:'Overpass',
sans-serif;
// Ubuntu
$ubuntu:'Ubuntu',
sans-serif;
//Principal colors
$l-red:#ff525d; // CTA text
$vl-red:#ff7a85; // CTA hover background
$vd-blue:#1f3f5b; // headings
//Neutral Colors
$white:#fbfbfb; // text
$g-blue:#c8c8cb; // footer text
$vdg-blue:#4b5862; //body copy
$vdb-blue:#25252d; // footer background